<!DOCTYPE html>
<html>
  <%- include("../partials/head") %>
  <body>
    <%- include("../partials/navbar") %>
    <div class="container error-page">
      <h2><%= errorMessage %></h2>
    </div>
  </body>
</html>
